.titreform{
    color: #00001a;
    text-align: center;
    font-weight: bold;
}

.formulaire{
    background-color:#000066 !important;
    margin-top: 20px;
    margin-left:50px;
    height:670px;
}

.label-date{
    margin-left: 350px;
}

.form-med{
 margin-left: 30px    
}

.form-quant{
    width:100px;
    margin-left: 80px;
}

.label{
    color: #fff;
    text-align: left;
    font-size: 20px;
}

.form-bilan{
    height: 180px;
}

.dateselect{
    padding-left: 50px;
    margin: 0px;
    margin-left: 300px;
}

.motif{
    margin-left: 55px;
}

.fa-notes-medical{
    margin-top: 40px;
    font-size: 200px;
    color: black;
    margin-left: 10px;
}

.med{
    margin-top: 53px;
    margin-left: 30px;
}

.échantillon{
    font-size: 15px;
    margin-top: 60px;
    margin-left: 40px;
}

select{
    position: absolute;
    z-index: 1000;
}

.boutonvalider {
    position: relative;
    background-color: #1a1aff;
    border: none;
    margin-top: 150px;
    margin-left: 250px;
    border-radius: 5px;
    font-size: 18px;
    color: #FFFFFF;
    padding: 20px;
    height: 80px;
    width: 150px;
    text-align: center;
    cursor: pointer;
}

.boutonvalider:hover{
       background-color: #0055ff ;
   transition: all 0.5s ease-out;
}