@import "card.css";
@import "menu.css";
@import "tableau.css";
@import "icons.css";
@import "listes.css";
@import "formulaire.css";
@import "accueil.css";
@import "consulter.css";
@import "index.css";

body{
    background-color:#ccccff;
}
/*font gras / bold*/
@font-face
{
    font-family : "poppinsG";
    src         : url('../fonts/poppins/Poppins-SemiBold.ttf');
}

/*font regular*/
@font-face
{
    font-family : "poppinsR";
    src         : url('../fonts/poppins/Poppins-Regular.ttf');
}

html, body
{
    font-family : 'poppinsR', sans-serif;
}

header, main, footer
{
    padding-left : 240px;
}

@media only screen and (max-width : 992px)
{
    header, main, footer
    {
        padding-left : 0;
    }
}

.softPoppins
{
    font-family : poppinsR, sans-serif;
}

.boldPoppins
{
    font-family : poppinsG, sans-serif;
}

/*#rechercheMedic*/
/*{*/
/*text-transform: uppercase !important;*/
/*}*/
#menuButton
{
    font-size : xx-large;
    padding   : 20px;
}

.semiApadding
{
    padding : 0 16px;
}

.praSelectable:hover
{
    cursor : hand;
}


.modal-content
{
    z-index: 80000;
}

/* label color */
.input-field label
{
    color : #000;
}

/* label focus color */
.input-field input:focus + label
{
    color : #838dff;
}

/* label underline focus color */
.input-field input:focus
{
    border-bottom : 1px solid #838dff;
    box-shadow    : 0 1px 0 0 #838dff;
}

/* valid color */
.input-field input.valid
{
    border-bottom : 1px solid #000;
    box-shadow    : 0 1px 0 0 #000;
}

/* invalid color */
.input-field input.invalid
{
    border-bottom : 1px solid #000;
    box-shadow    : 0 1px 0 0 #ffffff;
}

label.active
{
    color        : #80a7ff !important;
    border-color : #80a7ff;
}

/* icon prefix focus color */
.input-field .prefix.active
{
    color        : #80a7ff !important;
    border-color : #80a7ff;
}

.template{
    margin-left: 50px;
}