@font-face{
font-family:"OstrichSans-Heavy";
src: url('./font/OstrichSans-Heavy.otf');
}
@font-face{
font-family:"newscycle-bold";
src: url('./font/newscycle-bold.ttf');
}
@font-face{
font-family:"Raleway-Regular";
src: url('./font/Raleway-Regular.ttf');
}
@font-face{ 
font-family:"OstrichSans-Bold";
src: url('./font/OstrichSans-Bold.otf');
}
@font-face{ 
font-family:"Raleway-Bold";
src: url('./font/Raleway-Bold.ttf');
}

body{
background-color: black !important;
background-size: cover;
overflow-x: hidden;
}
/*HEADER*/
header{
background: url('./images/croppedbody.png') no-repeat;
background-size: 100%;
text-align: center;
letter-spacing: 3px;
font-weight: bold;
height: 250px;
}

h1{
font-weight: bold;
font-size: 20px;
letter-spacing: 5px;
}

header h1{ 
color: #776D80;
font-family:"OstrichSans-Bold";
font-size: 45px; 
padding: 30px;
margin: 0px
}

header h5{
text-shadow: 3px 3px #00080a;
color: #2585E5 !important;
font-family:"OstrichSans-Heavy";
font-size: 35px;
padding: 25px;
text-align: center;
}

/*MENU GLOBAL+INDEX*/

.content{
text-align: center;
font-size: 18px !important; 
color: #fff;
padding: 16px;
}

.sticky {
    z-index:1000;
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 96px !important;
}

menu{
padding:55px;
}
.header{
text-transform: uppercase;
line-height: 30px;
padding: 10px;
padding-top: 20px;
background-color: #0A2C3A;
}

.header a{
display: inline-block;
text-decoration: none;
color: #4E4EFF !important;
text-decoration: none !important;
display: inline;
padding: 5px 35px;
-webkit-transition: color 1s;
-moz-transition: color 1s;
-o-transition: color 1s;
transition: color 1s;
}
.header > ul{
padding-left: 0px !important;
margin: 0px;
list-style: none;
width: 180px;
}

.header > ul > li{
float: left;
position: relative;
}

.header li{
list-style-type: none;
position: relative;
font-family: "newscycle-bold";
padding: auto;
}

.submenu{
display: none;
width: 50%;
}
.submenu > li > a{
background-color: #0A2C3A;
display: block;
padding: 5px 20px !important;
box-sizing: initial;
text-decoration: none;
width: 130% !important;
}
.submenu a{
/* padding: 10px 20px; */
font-size: 11px;
letter-spacing: 3px;
}
.header > ul > li > a{
font-family: "Raleway-Bold" !important;
color:#4E4EFF;
text-decoration: none;
display: inline;
padding: 5px 15px !important;
-webkit-transition: color 1s;
-moz-transition: color 1s;
-o-transition: color 1s;
transition: color 1s;
}
.header > ul > li > a:hover{
color: white !important;
}

.header a:hover{
color: white !important;
}

.header li:hover .submenu{
display: block;
position: absolute;
top: 100%;
left: 10px;
padding: 15px;
z-index: 1000;
}

.header li:hover .submenucvstage{
display: block;
position: absolute;
top: 100%;
left: 10px;
padding: 15px 1px;
z-index: 1000;
}
.submenu li{
border-bottom: 1px solid #CCC;
}
/*SECTION GLOBAL+ACCUEIL*/

.liensite{
color: blue !important;
text-decoration: none !important;
}

.paragraphe{
    margin: 30px 0px !important;
}

b{
    margin-top:10px;
}

h2{
    margin:45px 0px !important;
font-weight: bold !important;
color: #4E4EFF !important;
font-size: 25px !important;
}

.introliste{
font-weight: bold !important;
font-size: 16px !important;
}

.explications{
line-height: 150%;
text-align: left;
margin-left:7%;
margin-right:7%;
}

b{
font-weight: bold;
}

ul, li{
color: black;
display: inline;

}

strong{
font-style: italic;
}

hr{
margin: 0% -10%;
border: 1px dotted #00080a;
}

.slamacronym{
font-weight: bold;
}
.SIO, .slam{
font-size: 22px;
font-weight: bold;
color: #4E4EFF;
}

/*SECTION CV*/
#imagecv{
width:540px;
height:740px;
margin-left: auto;
margin-right: auto;
border: double;
border-width: 3px;
}

button {
font-family: 'newscycle-bold' !important;
color: white !important;
font-size: 14px !important;
padding: 6px 10px !important;
text-decoration: none !important;
margin-top: 20px !important;
margin-bottom: 17px !important;
transition: all linear 0.25s !important;
background-color: #01487e !important;
border-radius: 25px !important;
border:solid !important;
}

button:hover {
background-color:#2585E5 !important;
}

.competences{
    text-align:left;
}

/*SECTION STAGE*/

.intitule{
        margin: 30px 0px !important;
        font-weight: bold;
}

h3{
    margin: 30px 0px !important;
}

h4{
    margin: 30px 0px !important;
font-size: 20px !important;
color: #01487e !important;
text-align: left !important;
}

h5{
text-align: left;
font-weight: bold !important;
font-size: 12px;
margin: 0px !important;
}
.imagestyle{
width:422px;
height:250px;
border: none;
}
.imagestyle:hover {
    -ms-transform: scale(2); /* IE 9 */
    -webkit-transform: scale(2); /* Safari 3-8 */
    transform: scale(2);
    backface-visibility: hidden;
    transition: 0.8s;
}
/*SECTION VEILLE TECHNOLOGIQUE*/

h3{
color: #01487e;
font-size: 30px;
text-align: center;
}

/*FOOTER*/
footer{
margin-top: 20px;
font-family: "Raleway-regular" !important;
background-color: #242424 !important;
padding: 30px 0px !important;
text-align: center !important;
color: white !important;
font-size: 10px !important;
}
footer h5{
text-align: center !important;
font-size: 12px;
}